<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  
   <servlet>
  	<servlet-name>twitterBot</servlet-name>
  	<servlet-class>com.toshipon.www.azunyanbot.server.bot.ExecuterBotActionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>twitterBot</servlet-name>
  	<url-pattern>/twitterbot</url-pattern>
  </servlet-mapping>
  
  <!--  以下accesstokenをdatastoreに登録する用 -->
  <servlet>
  	<servlet-name>GateAccessToken</servlet-name>
  	<servlet-class>com.toshipon.www.azunyanbot.server.token.GateAccessTokenServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>GateAccessToken</servlet-name>
  	<url-pattern>/gateaccesstaken</url-pattern>
  </servlet-mapping>

  <servlet>
  	<servlet-name>Callback</servlet-name>
  	<servlet-class>com.toshipon.www.azunyanbot.server.token.CallbackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Callback</servlet-name>
  	<url-pattern>/callback</url-pattern>
  </servlet-mapping>
  
  <welcome-file-list>
    <welcome-file>getAccessToken.html</welcome-file>
  </welcome-file-list>

</web-app>
